@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

:root{
    --teal: #009999;
    --gris: #808080;
    --orange: orange;
    --lemon: greenyellow;
    --degraded:linear-gradient(90deg, var(var(--teal), var(--gris)));    
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;

}
*::selection{
    background: var(--gris);
    color: white;

}

html{
font-size: 85%;
}

header{
    position: static;
    top:0;
    left:0;
    width: 100%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    padding: 2rem 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo{
    font-size: 3rem;
    color: var(--teal);
}

header .logo span{
    font-size: 3.5rem;
    color: var(--orange);
}

header .navbar a{

    font-size: 1.5rem;
    margin-left: 2rem;
    color: var(--gris);
}

header .navbar a:hover{
    color: var(--teal);
}

header label{
    font-size:  3rem;
    color: var(--gris);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

.contenedor{

    position: absolute;
    width: 100%;
    height: 780px;
    background: url(/images/background.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: calc(100% - 4rem);
    
}

.contenidoNuevo {
    /* contenido */
    margin: 2%;
    display: grid;
    gap: 1rem;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr));
    background-color: rgb(222, 222, 222) ;
    padding: 2%;
    
}
    


.talleresCard {
    background: rgba(84, 118, 185, 0.5);
    border-radius: 25px;
    text-align: center;

}


.consultasCard {

    background: rgba(109, 228, 16, 0.5);
    border-radius: 25px;
    text-align: center;

}

.retosCard {
    background: rgba(154, 104, 67, 0.5);
    border-radius: 25px;
    text-align: center;  
}

ul {

    display: inline-block; 
    text-align: left;
}

.pieDePagina{

    margin: 2%;
    display: grid;
    gap: 0.5rem;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    background-color: rgb(222, 222, 222) ;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center
    
}



@media (max-width:1200px) {
    html{
        font-size: 80%;
    }

}

@media (max-width:768px) {
    header label{
        visibility:visible;
        opacity: 1;
    }

    header .navbar{
        position: fixed;
        left: 0%;
        width: 100%;
        background: white;
        padding: 1rem 2rem;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        z-index:1;
        bottom: 0rem;
    }

}

header .titulo{
    font-size: 3rem;
    color: var(--teal);
}


.btn{
border: 3px solid rgba(100,100,100,0.1);
margin-bottom: 20px;
padding: 20px;
width: 300px;
font-size: 16px;
color: #FFF;
border-radius: 8px;
cursor: pointer;
background-size: 300%;
background-image: linear-gradient(to left, #00b0b0,#008080,#00b0b0 );
}

.btn:hover{

    background-image: linear-gradient(to left, #009b9b,#008585,#009b9b );
}

.btn:active{

    background-image: linear-gradient(to left, #009595,#007d7d,#009595 );
}
